mat-sidenav-container {
  height: 90%;
}

mat-sidenav {
  width: 200px;
}

mat-toolbar {
  a {
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
}

.main-wrapper {
  height: calc(100vh - 80px);
  padding: 20px;
}
