table {
  width: 100%;
  th {
    min-width: 100px;
  }
}

.recipe-list-table__wrapper {
  padding: 10px;
  overflow-y: auto;
  overflow-x: auto;
}

.recipe-list-table__actions {
  .mat-icon {
    margin-right: 5px;
    cursor: pointer;
  }
}
