<mat-card>
  <label *ngIf="ingredient">{{ ingredient.name }}</label>
  <mat-form-field>
    <input
      matInput
      type="number"
      min="0"
      [formControl]="quantity"
      (change)="UpdateQuantity()"
      required
    />
    <mat-error *ngIf="quantity.hasError('min')">Incorrect min value</mat-error>
    <label matSuffix *ngIf="ingredient">{{ ingredient.metrics }}</label>
  </mat-form-field>
  <mat-icon
    matTooltip="Remove ingredient"
    matTooltipPosition="above"
    (click)="RemoveIngredient()"
    >delete</mat-icon
  >
</mat-card>
