mat-card-header {
  margin: 10px 0;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

.main__showcase {
  display: flex;
  justify-content: center;

  img {
    width: 90%;
    height: 70vh;
  }
}

@media (max-width: 1200px) {
  .main__showcase {
    img {
      height: 100%;
      object-fit: contain;
    }
  }
}
